
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
body.light {
    background-color: #f4f4f4;
    color: #000;
}

body.dark {
    background-color: #333;
    color: #fff;
}

body.dark header,
body.dark nav,
body.dark footer {
    background-color: #222;
}

body.dark .card {
    background-color: #444;
    color: #fff;
}
header {
    background-color: #0074c2;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}


section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.card h2 {
    margin-top: 0;
}

.button {
    background-color: #0074c2;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #005fa3;
}

.main-content-text {
    text-align: center;
}
#devices {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px; /* Increase the gap between device cards */
}

.device-card, .preset-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px; /* Increase the margin at the bottom of each card */
}

.device-icon img {
    width: 50px;
    height: 50px;
}

.device-info {
    text-align: center;
    margin-top: 10px;
}

.device-info h3 {
    margin: 0;
    font-size: 18px;
}

.device-info p {
    margin: 5px 0 0;
    font-size: 14px;
}

.device-action, .preset-card form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preset-card label {
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}

.preset-card select {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 14px;
}

.button, .save-button, .toggle-button {
    background-color: #888;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.button:hover, .save-button:hover, .toggle-button:hover {
    background-color: #666;
}